.about {
    .adv {
        margin: 99px auto;
        display: block;
        max-width: 954px;
        font-family: $Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 118%;
        text-align: center;

        span {
            color: #5E7056;
            font-weight: 800;
        }
    }
}

.about_about {
    .items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 74px 0 92px;

        &:before {
            content: '';
            width: 100vw;
            height: 100%;
            background: #212121;
            box-shadow: 37px 2px 62px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 0;
            left: -6%;
            z-index: -1;
        }

        .item {
            max-width: 260px;
            color: #FFFFFF;

            .item-title {
                margin-top: 15px;
                margin-bottom: 10px;
                font-family: $Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 41px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
            }

            .item-text {
                font-family: $Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 139.7%;
            }
        }
    }
}
