.designers {
    .title {
        margin-bottom: 30px;
    }

    .designers_adv {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 140%;
        text-align: center;
        color: #000000;
        max-width: 1065px;
        margin: 0 auto;
    }
}

.designers_info {
    padding: 62px 297px 75px 206px;
    background: #FFFFFF;
    box-shadow: -16px 30px 65px rgba(0, 0, 0, 0.25);

    .designers_info-title {
        font-family: $Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 139.7%;
        color: #5E7056;
        margin-bottom: 33px;
    }

    ul {
        width: 510px;

        li {
            width: 100%;
            font-family: $Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 139.7%;
            color: #111111;
            margin-bottom: 33px;
            position: relative;
            z-index: 999999;

            &::before {
                content: '';
                display: block;
                width: 34px;
                height: 30px;
                background: #9FB296;
                position: absolute;
                top: -9px;
                left: -21px;
                z-index: -1;
            }
        }
    }
}
